body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: linear-gradient(120deg, #f6d365, #fda085);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}
.container{
    background-color: aliceblue;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 4px 4px 36px orange;
    animation: box-slide 2s ease-in 0s 1 reverse;

}
h1 {
  margin-bottom: 20px;
}

#quote-box {
  margin-bottom: 30px;
  color: #333;
}
button{
    padding: 10px;
    font-size: 16px;
    color: white;
     background-color: #ff6b6b;
     border-radius: 5px;
     border-color: yellow;
}
button:hover{
     background-color: #ff4c4c;
}

@keyframes box-slide{
  from{
    transform: translatex(0px);
  }
  to{
    transform: translatex(-1500px);
  }
  
}
s
